.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000000000;
  background: mediumpurple;
  pointer-events: all;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 50px;
  margin-top: 50px;
  color: honeydew;
  font-family: monospace;
}
